*{
	margin: 0;
	padding: 0;
}
.clear{
	clear: both;
}
.header{
	width: 1920px;
	height: 634px;
	border: 0;
}
.header .one{
	width: 1920px;
	height: 40px;
	border-bottom: 1px solid #c3c3c3;
	background-color: #fafafa;
	float: left;
}
.header .one .mya{
	width: 109px;
	height: 12px;
	bottom: 1px solid #ffffff;
	font-size: 12px;
	color: #898989;
	float: left;
	margin-left: 359px;
	margin-top: 13px;
}
.header .one .myb{
	width: 40px;
	height: 12px;
	bottom: 1px solid #ffffff;
	font-size: 12px;
	color: #333333;
	float: left;
	margin-left: 28px;
	margin-top: 13px;
}
.header .one .myc{
	width: 54px;
	height: 12px;
	bottom: 1px solid #ffffff;
	font-size: 12px;
	color: #333333;
	float: left;
	margin-left: 9px;
	margin-top: 13px;
}
.header .one .myi{
	list-style: none;
	float: left;
	height: 12px;
	margin-left: 300px;
	margin-top: 13px;
}
.header .one ul li{
	font-size: 12px;
	color: #4e4e4e;
	float: left;
	margin-left: 8px;
}
.header .one .myd{
	width: 12px;
	height: 16px;
	float: left;
	margin-top: 13px;
	margin-left: 8px;
}
.header .one .myj{
	width: 54px;
	height: 12px;
	float: left;
	
}
.header .one .mye{
	font-size: 12px;
	color: #4e4e4e;
	list-style: none;
	margin-top: 14px;
	margin-left: 3px;
}
.header .one .myf{
	width: 20px;
	height: 14px;
	float: left;
	margin-left: 26px;
	margin-top: 13px;
}
.header .one .myg{
	width: 71px;
	height: 12px;
	bottom: 1px solid #ffffff;
	font-size: 12px;
	color: #353535;
	float: left;
	margin-left: 8px;
	margin-top: 13px;
}
.header .one .myh{
	width: 112px;
	height: 12px;
	border: 1px solid #ffffff;
	font-size: 12px;
	color: #e99113;
	float: left;
	margin-top: 13px;
}
.header .two{
	width: 1920px;
	height: 200px;
	border-bottom: 2px solid #683803;
	float: left;
}
.header .two .myk{
	width: 130px;
	height: 75px;
	border: 1px solid #ffffff;
	margin-left: 359px;
	margin-top: 20px;
	float: left;
}
.header .two p{
	width: 199px;
	height: 12px;
	border: 1px solid #ffffff;
	float: left;
	margin-left: 7px;
	margin-top: 75px;
	font-size: 12px;
	color: #2b2b2b;
}
.header .two .myl{
	width: 442px;
	height: 61px;
	float: left;
	margin-left: 461px;
	margin-top: 27px;
}
.header .two .mym{
	width: 54px;
	height: 12px;
	border: 1px solid #ffffff;
	float: left;
	margin-top: 13px;
	font-size: 12px;
	color: #353535;
}
.header .two .myl ul li{
	height: 12px;
	border: 1px solid #ffffff;
	float: left;
	margin-top: 13px;
	font-size:12px;
	color: #9a9a9a;
	list-style: none;
}
.header .two .myn{
	width: 120px;
	height: 35px;
	float: left;
	margin-left: 45px;
	margin-top: 28px;
}
.header .two .myo{
	width: 1205px;
	height: 47px;
	border: 1px solid #ffffff;
	float: left;
	margin-top: 35px;
}
.header .two .myo .myp{
	width: 241px;
	height: 43px;
	border: 1px solid #e3a10d;
	list-style: none;
	font-size: 18px;
	color: #fefdff;
	background-color: #e3a10d;
	float:left;
	text-align: center;
	margin-top: 30px;
}
.header .two .myo .myq li{
	list-style: none;
	font-size: 16px;
	float: left;
	margin-top: 48px;
	margin-left:47px;
}
.header .three{
	height: 400px;
	width: 1920px;
	border: 1px solid #ffffff;
	float: left;
}
.c-top{
	height: 70px;
	width: 1920px;
}
.container .c-top .c-t-i{
	display: block;
	margin: 0 auto;
}
.container .c-bottom{
	height: 3018px;
	width: 1202px;
	border: 1px solid #eeeeee;
	margin-left: 360px;
	margin-top: 47px;
}
.container .c-bottom .left{
	height: 720px;
	width: 1200px;
	border: 1px solid #eeeeee;
}
.l-one{
	float: left;
}
.container .c-bottom .left .l-a{
	float: right;
	margin-top: 9px;
	margin-right: 10px;
}
.container .c-bottom .left .l-b{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
.container .left .l-one{
	width: 461px;
	height: 720px;
	border-right: 1px solid #eeeeee;
}
.container .left .right{
	width: 720px;
	height: 720px;
	float: right;
}
.container .left .right .l-o-b{
	width: 459px;
	height: 334px;
	border: 0;
}
.container .left .right .l-o-a{
	width: 459px;
	height: 85px;
	border: 0;
	background-color: #f5f5f5;
	float: left;
}
.container .left .l-one .l-o-a h1{
	font-size: 17px;
	color: #202020;
	margin-left: 186px;
	margin-top: 18px;
}
.container .left .l-one .l-o-a p{
	font-size: 15px;
	color: #333333;
	margin-left: 150px;
	margin-top: 15px;
}
.container .left .l-bottom{
	width: 459px;
	height: 292px;
	border: 0;
}
.container .left .l-bottom .l-b-a{
	width: 210px;
	height: 210px;
	border: 1px solid #ffffff;
	float: left;
	margin-left: 13px;
	margin-top: 41px;
}
.container .left .l-bottom .l-b-b{
	width: 232px;
	height: 210px;
	border: 1px solid #ffffff;
	float: left;
	margin-top: 41px;
}
.container .left .l-bottom .l-b-c{
	width: 230px;
	height: 14px;
	border: 1px solid #ffffff;
	margin-left: 16px;
	margin-top: 7px;
}
.container .left .l-bottom .l-b-d{
	font-size: 14px;
	float: left;
	color: #333333;
}
.container .left .l-bottom .l-b-e{
	font-size: 12px;
	float: left;
	color: #999999;
}
.container .left .l-bottom .l-b-f{
	width: 196px;
	height: 200px;
	border: 1px solid #ffffff;
	margin-left: 10px;
	margin-top: 10px;
}
.container .left .l-bottom .l-b-f .clear{
	clear: both;
}
.container .left .l-bottom .l-b-g{
	font-size: 14px;
	float: left;
	color: #333333;
}
.container .left .l-bottom .l-b-h{
	font-size: 12px;
	color: #999999;
	line-height: 25px;
}

.container .c-bottom .first{
	height: 720px;
	width: 1200px;
	border: 1px solid #eeeeee;
	margin-top: 38px;
}
.l-two{
	float: left;
}

.container .c-bottom .first .f-a{
	float: right;
	margin-top: 9px;
	margin-right: 10px;
}
.container .c-bottom .first .f-b{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
.container .first .l-two{
	width: 461px;
	height: 720px;
	border-right: 1px solid #eeeeee;
}
.container .first .f-right{
	width: 720px;
	height: 720px;
	float: right;
}
.container .first .l-two .l-t-a{
	width: 459px;
	height: 334px;
	border: 0;
}
.container .first .l-two .l-t-b{
	width: 459px;
	height: 85px;
	border: 1px solid #f5f5f5;
	background-color: #f5f5f5;
}
.container .first .l-two .l-t-b h1{
	font-size: 17px;
	color: #202020;
	margin-left: 186px;
	margin-top: 18px;
}
.container .first .l-two .l-t-b p{
	font-size: 15px;
	color: #333333;
	margin-left: 115px;
	margin-top: 15px;
}
.container .first .l-t-bottom{
	width: 459px;
	height: 292px;
	border: 0;
}
.container .first .l-t-bottom .l-t-b-a{
	width: 210px;
	height: 210px;
	border: 1px solid #ffffff;
	float: left;
	margin-left: 13px;
	margin-top: 41px;
}
.container .first .l-t-bottom .l-t-b-b{
	width: 232px;
	height: 210px;
	border: 1px solid #ffffff;
	float: left;
	margin-top: 41px;
}
.container .first .l-t-bottom .l-t-b-c{
	width: 230px;
	height: 14px;
	border: 1px solid #ffffff;
	margin-left: 16px;
	margin-top: 7px;
}
.container .first .l-t-bottom .l-t-b-d{
	font-size: 14px;
	float: left;
	color: #333333;
}
.container .first .l-t-bottom .l-t-b-e{
	font-size: 12px;
	float: left;
	color: #999999;
}
.container .first .l-t-bottom .l-t-b-f{
	width: 196px;
	height: 200px;
	border: 1px solid #ffffff;
	margin-left: 10px;
	margin-top: 10px;
}
.container .first .l-t-bottom .l-t-b-f .clear{
	clear: both;
}
.container .first .l-t-bottom .l-t-b-g{
	font-size: 14px;
	float: left;
	color: #333333;
}
.container .first .l-t-bottom .l-t-b-h{
	font-size: 12px;
	color: #999999;
	line-height: 25px;
}
.container .c-bottom .second{
	height: 720px;
	width: 1200px;
	border: 1px solid #eeeeee;
	margin-top: 38px;
}
.l-three{
	float: left;
}
.container .c-bottom .second .s-a{
	float: right;
	margin-top: 9px;
	margin-right: 10px;
}
.container .c-bottom .second .s-b{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
.container .second .l-three{
	width: 461px;
	height: 720px;
	border-right: 1px solid #eeeeee;
}
.container .second .s-right{
	width: 720px;
	height: 720px;
	float: right;
}
.container .second .l-three .l-e-a{
	width: 459px;
	height: 334px;
	border: 0;
}
.container .second .l-three .l-e-b{
	width: 459px;
	height: 85px;
	border: 1px solid #f5f5f5;
	background-color: #f5f5f5;
}
.container .second .l-three .l-e-b h1{
	font-size: 17px;
	color: #202020;
	margin-left: 186px;
	margin-top: 18px;
}
.container .second .l-three .l-e-b p{
	font-size: 15px;
	color: #333333;
	margin-left: 115px;
	margin-top: 15px;
}
.container .second .l-e-bottom{
	width: 459px;
	height: 292px;
	border: 0;
}
.container .second .l-e-bottom .l-e-b-a{
	width: 210px;
	height: 210px;
	border: 1px solid #ffffff;
	float: left;
	margin-left: 13px;
	margin-top: 41px;
}
.container .second .l-e-bottom .l-e-b-b{
	width: 232px;
	height: 210px;
	border: 1px solid #ffffff;
	float: left;
	margin-top: 41px;
}
.container .second .l-e-bottom .l-e-b-c{
	width: 230px;
	height: 14px;
	border: 1px solid #ffffff;
	margin-left: 16px;
	margin-top: 7px;
}
.container .second .l-e-bottom .l-e-b-d{
	font-size: 14px;
	float: left;
	color: #333333;
}
.container .second .l-e-bottom .l-e-b-e{
	font-size: 12px;
	float: left;
	color: #999999;
}
.container .second .l-e-bottom .l-e-b-f{
	width: 196px;
	height: 200px;
	border: 1px solid #ffffff;
	margin-left: 10px;
	margin-top: 10px;
}
.container .second .l-e-bottom .l-e-b-f .clear{
	clear: both;
}
.container .second .l-e-bottom .l-e-b-g{
	font-size: 14px;
	float: left;
	color: #333333;
}
.container .second .l-e-bottom .l-e-b-h{
	font-size: 12px;
	color: #999999;
	line-height: 25px;
}
.container .c-bottom .third{
	height: 720px;
	width: 1200px;
	border: 1px solid #eeeeee;
	margin-top: 38px;
}
.l-four{
	float: left;
}
.container .c-bottom .third .h-a{
	float: right;
	margin-top: 9px;
	margin-right: 10px;
}
.container .c-bottom .third .h-b{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
.container .third .l-four{
	width: 461px;
	height: 720px;
	border-right: 1px solid #eeeeee;
}
.container .third .d-right{
	width: 720px;
	height: 720px;
	float: right;
}
.container .third .l-four .l-f-a{
	width: 459px;
	height: 334px;
	border: 0;
}
.container .third .l-four .l-f-b{
	width: 459px;
	height: 85px;
	border: 1px solid #f5f5f5;
	background-color: #f5f5f5;
}
.container .third .l-four .l-f-b h1{
	font-size: 17px;
	color: #202020;
	margin-left: 186px;
	margin-top: 18px;
}
.container .third .l-four .l-f-b p{
	font-size: 15px;
	color: #333333;
	margin-left: 145px;
	margin-top: 15px;
}
.container .third .l-f-bottom{
	width: 459px;
	height: 292px;
	border: 0;
}
.container .third .l-f-bottom .l-f-b-a{
	width: 210px;
	height: 210px;
	border: 1px solid #ffffff;
	float: left;
	margin-left: 13px;
	margin-top: 41px;
}
.container .third .l-f-bottom .l-f-b-b{
	width: 232px;
	height: 210px;
	border: 1px solid #ffffff;
	float: left;
	margin-top: 41px;
}
.container .third .l-f-bottom .l-f-b-c{
	width: 230px;
	height: 14px;
	border: 1px solid #ffffff;
	margin-left: 16px;
	margin-top: 7px;
}
.container .third .l-f-bottom .l-f-b-d{
	font-size: 14px;
	float: left;
	color: #333333;
}
.container .third .l-f-bottom .l-f-b-e{
	font-size: 12px;
	float: left;
	color: #999999;
}
.container .third .l-f-bottom .l-f-b-f{
	width: 196px;
	height: 200px;
	border: 1px solid #ffffff;
	margin-left: 10px;
	margin-top: 10px;
}
.container .third .l-f-bottom .l-f-b-f .clear{
	clear: both;
}
.container .third .l-f-bottom .l-f-b-g{
	font-size: 14px;
	float: left;
	color: #333333;
}
.container .third .l-f-bottom .l-f-b-h{
	font-size: 12px;
	color: #999999;
	line-height: 25px;
}
.footer .u-one{
	height: 159px;
	width: 1920px;
	border-bottom: 1px solid #efefef;
	float: left;
}
.footer .u-one .u-o-a{
	height: 48px;
	width: 450px;
	border: 1px solid #ffffff;
	margin-left: 681px;
	margin-top: 60px;
	float: left;
}
.footer .u-one ul li{
	list-style: none;
	float: left;
	height: 46px;
	width: 88px;
	text-align: center;
	line-height: 42px;
	border: 1px solid #cccccc;
}
.footer .u-one ul li:hover{
	background-color: #ebebeb;
}
.footer .u-one .u-o-b{
	height: 20px;
	width: 320px;
	border: 1px solid #ffffff;
	float: left;
	margin-top: 76px;
	margin-left: 32px;
}
.footer .u-one .u-o-b .my1{
	list-style: 12px;
	color: #a1a1a1;
	float: left;
}
.footer .u-one .u-o-b .my2{
	float: left;
}
.footer .u-one .u-o-b .my3{
	list-style: 12px;
	color: #a1a1a1;
	float: left;
}
.footer .u-one .u-o-b .my4{
	float: left;
	margin-left: 30px;
}
.footer .u-two{
	height: 264px;
	width: 1922px;
	border: 0;
	float: left;
}
.footer .u-two .u-t-a{
	height: 218px;
	width: 118px;
	border: 0;
	float: left;
	margin-top: 43px;
	margin-left: 480px;
}
.footer .u-two .u-t-a .u-t-a-1{
	height: 101px;
	width: 101px;
	border: 0;
	float: left;
	margin-left: 5px;
}
.footer .u-two .u-t-a .u-t-a-2{
	font-size: 16px;
	color: #333333;
	float: left;
	margin-left: 30px;
	margin-top: 16px;
}.footer .u-two .u-t-a .u-t-a-3{
	font-size: 15px;
	color: #999999;
	float: left;
	margin-left: 15px;
	margin-top: 20px;
}
.footer .u-two .u-t-b{
	height: 218px;
	width: 118px;
	border: 0;
	float: left;
	margin-left: 171px;
	margin-top: 43px;
}
.footer .u-two .u-t-b .u-t-b-1{
	height: 101px;
	width: 101px;
	border: 0;
	float: left;
	margin-left: 5px;
}
.footer .u-two .u-t-b .u-t-b-2{
	font-size: 16px;
	color: #333333;
	float: left;
	margin-left: 25px;
	margin-top: 16px;
}.footer .u-two .u-t-b .u-t-b-3{
	font-size: 15px;
	color: #999999;
	float: left;
	margin-left: 13px;
	margin-top: 20px;
}
.footer .u-two .u-t-c{
	height: 218px;
	width: 118px;
	border: 0;
	float: left;
	margin-left: 171px;
	margin-top: 43px;
}
.footer .u-two .u-t-c .u-t-c-1{
	height: 101px;
	width: 101px;
	border: 0;
	float: left;
	margin-left: 5px;
}
.footer .u-two .u-t-c .u-t-c-2{
	font-size: 16px;
	color: #333333;
	float: left;
	margin-left: 25px;
	margin-top: 16px;
}.footer .u-two .u-t-c .u-t-c-3{
	font-size: 15px;
	color: #999999;
	float: left;
	margin-left: 27px;
	margin-top: 20px;
}
.footer .u-two .u-t-d{
	height: 218px;
	width: 118px;
	border: 0;
	float: left;
	margin-left: 171px;
	margin-top: 43px;
}
.footer .u-two .u-t-d .u-t-d-1{
	height: 101px;
	width: 101px;
	border: 0;
	float: left;
	margin-left: 5px;
}
.footer .u-two .u-t-d .u-t-d-2{
	font-size: 16px;
	color: #333333;
	float: left;
	margin-left: 40px;
	margin-top: 16px;
}.footer .u-two .u-t-d .u-t-d-3{
	font-size: 15px;
	color: #999999;
	float: left;
	margin-left: 5px;
	margin-top: 20px;
}
.footer .u-three{
	height: 172px;
	width: 1922px;
	border: 0;
	float: left;
	background-color: #f6f6f6;
}
.footer .u-three .clear{
	clear: both;
}
.footer .u-three .u-t-z{
	width: 94px;
	height: 170px;
	border-right: 1px solid #dfdfdf;
	float: left;
	margin-left: 430px;
}
.footer .u-three .u-t-z .u-t-z-1{
	font-size: 11px;
	color: #333333;
	float: left;
	margin-top: 32px;
}
.footer .u-three .u-t-z .u-t-z-2{
	list-style: none;
	float: left;
	font-size: 11px;
	color: #666666;
	margin-top: 10px;
}
.footer .u-three .u-t-y{
	width: 94px;
	height: 170px;
	border-right: 1px solid #dfdfdf;
	float: left;
	margin-left: 100px;
}
.footer .u-three .u-t-y .u-t-y-1{
	font-size: 11px;
	color: #333333;
	float: left;
	margin-top: 32px;
}
.footer .u-three .u-t-y .u-t-y-2{
	list-style: none;
	float: left;
	font-size: 11px;
	color: #666666;
	margin-top: 10px;
}
.footer .u-three .u-t-x{
	width: 94px;
	height: 170px;
	border-right: 1px solid #dfdfdf;
	float: left;
	margin-left: 100px;
}
.footer .u-three .u-t-x .u-t-x-1{
	font-size: 11px;
	color: #333333;
	float: left;
	margin-top: 32px;
}
.footer .u-three .u-t-x .u-t-x-2{
	list-style: none;
	float: left;
	font-size: 11px;
	color: #666666;
	margin-top: 10px;
}
.footer .u-three .u-t-w{
	width: 94px;
	height: 170px;
	border-right: 1px solid #dfdfdf;
	float: left;
	margin-left: 100px;
}
.footer .u-three .u-t-w .u-t-w-1{
	font-size: 11px;
	color: #333333;
	float: left;
	margin-top: 32px;
}
.footer .u-three .u-t-w .u-t-w-2{
	list-style: none;
	float: left;
	font-size: 11px;
	color: #666666;
	margin-top: 10px;
}
.footer .u-three .u-t-v{
	width: 94px;
	height: 170px;
	border-right: 1px solid #dfdfdf;
	float: left;
	margin-left: 100px;
}
.footer .u-three .u-t-v .u-t-v-1{
	font-size: 11px;
	color: #333333;
	float: left;
	margin-top: 32px;
}
.footer .u-three .u-t-v .u-t-v-2{
	list-style: none;
	float: left;
	font-size: 11px;
	color: #666666;
	margin-top: 10px;
}
.footer .u-three .u-t-u{
	width: 94px;
	height: 170px;
	border:0;
	float: left;
	margin-left: 100px;
}
.footer .u-three .u-t-u .u-t-u-1{
	font-size: 11px;
	color: #333333;
	float: left;
	margin-top: 32px;
}
.footer .u-three .u-t-u .u-t-u-2{
	float: left;
	margin-top: 10px;
}
.footer .u-three li{
	margin-top: 6px;
}
.footer .u-four{
	height: 149px;
	width: 1922px;
	border: 0;
	float: left;
}
.footer .u-four .u-f-1{
	height: 13px;
	width: 1000px;
	border: 0;
	float: left;
	margin-left: 681px;
	margin-top: 37px;
}
.footer .u-four li{
	list-style: none;
	color: #565656;
	float: left;
	font-size: 12px;
	margin-left: 12px;
}
.footer .u-four .u-f-2{
	font-size: 8px;
	color: #565656;
	height: 9px;
	width: 1000px;
	border: 0;
	float: left;
	margin-left: 803px;
	margin-top: 28px;
}
.footer .u-four .u-f-3{
	font-size: 8px;
	color: #565656;
	height: 9px;
	width: 1200px;
	border: 0;
	float: left;
	margin-left: 911px;
	margin-top: 33px;
}